@keyframes roundArrow {
	0%, 100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-2px);
	}

}

@keyframes roundArrowReverse {
	0%, 100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(2px);
	}

}


@keyframes close {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(180deg);
	}


}