/* цвета, градиенты */

$black-color = #333333;
$blue-color = #06BEB6;
$blue-color-rgba = rgba(6, 190, 182, 0.4);
$red-color = #DD5050;
$gray-color = #F2F2F2;
$darkgray-color = #BDBDBD;
$darkergray-color = #828282;


$boxshadow-color = rgba(130, 130, 130, 0.6);

$blue-gradient = linear-gradient(to right, #06BEB6 0%, #48B1BF 100%);
$dark-gradient = linear-gradient(to right, #257571 0%, #145E68 100%);

$border-gradient = {
	background-color: rgba(255, 255, 255, 0),
	border: 2px solid,
	border-image: $blue-gradient 2 2
};

$text-gradient = {
	background: $blue-gradient,
	opacity: 0.99,
	//-webkit-mask-image: $blue-gradient,
	-webkit-background-clip: text,
	-webkit-text-fill-color: rgba(255, 255, 255, 0)
};

$pensar-gradient = {
	background: linear-gradient(to right, #FF416C 0%, #FF4B2B 100%),
	//-webkit-mask-image: linear-gradient(to right, #FF416C 0%, #FF4B2B 100%),
	-webkit-background-clip: text,
	-webkit-text-fill-color: rgba(255, 255, 255, 0)
};