//@media screen and (max-width: 1439.98px) {
//	.container {
//		max-width: 1200px;
//	}
//}


@media screen and (max-width: 1199.98px) {
	.container {
		max-width: 992px;
		padding-left: 10px;
		padding-right: 10px;
	}

	html, body {
		font-size: 14px;
	}

	.header__link_white {
		margin-right: 30px;
	}

	.header__link_phone {
		margin-left: 0;
		margin-right: 0;
	}

	.header__info {
		padding-top: 40px;
	}

	.header__text {
		margin-left: 30px;
		margin-right: 20px;
		//margin-top: 20px;
	}

	.header__card_bottom {
		flex-direction: column;

		& h3 {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

}


@media screen and (max-width: 991.98px) {
	.container {
		max-width: 768px;
		padding-left: 10px;
		padding-right: 10px;
	}

	
}

@media screen and (max-width: 767.98px) {
	.container {
		max-width: 576px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media screen and (max-width: 575.98px) {

}

@media screen and (max-width: 319.98px) {

}