// класс .visually-hidden для стилизации чекбоксов и радио-кнопок

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	overflow: hidden;
}



// embla carousel styles

.embla {
	overflow: hidden;
	margin-top: 36px;
	margin-bottom: 125px;
}

.embla__container {
	display: flex;
	//flex-direction: row;
	//justify-content: stretch;
	//align-items: center;
	min-width: 100%;
}

.embla__slide {
	position: relative;
	width: 200px;
	height: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $gray-color;



}