@import 'reset.css';
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/montserrat-v15-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url("fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-regular.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-regular.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-regular.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("fonts/montserrat-v15-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url("fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-600.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-600.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-600.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("fonts/montserrat-v15-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url("fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-500.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-500.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-500.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url("fonts/montserrat-v15-latin_cyrillic-800.eot"); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url("fonts/montserrat-v15-latin_cyrillic-800.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-800.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-800.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-800.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-800.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("fonts/montserrat-v15-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url("fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-700.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-700.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-700.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat") format('svg'); /* Legacy iOS */
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 576px;
  }
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #fcfffd;
}
button:hover {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.header__nav {
  background: linear-gradient(to right, #257571 0%, #145e68 100%);
}
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 106px;
}
.header__link {
  color: #f2f2f2;
  font-size: 14px;
  text-decoration: none;
}
.header__link_white {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  margin-right: 60px;
  position: relative;
}
.header__link_white::after {
  position: absolute;
  bottom: -30px;
  right: -35px;
  content: url("../img/icons/lifeline.svg");
}
.header__link_arrow {
  position: relative;
  padding-right: 20px;
}
.header__link_arrow::after {
  position: absolute;
  top: -2px;
  right: 0;
  content: url("../img/icons/arrow-down.svg");
}
.header__link_red {
  color: #dd5050;
  font-weight: 600;
}
.header__link_phone {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 15px;
}
.header__link_blue {
  font-size: 1rem;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;
  font-weight: 600;
  position: relative;
}
.header__link_blue::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  content: '';
}
.header__info {
  padding-top: 70px;
  padding-bottom: 70px;
}
.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.header__h1 {
  font-size: 44px;
  line-height: 140%;
  font-weight: 800;
}
.header__h1_blue {
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__card {
  position: relative;
  width: 490px;
  height: 200px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 30px;
}
.header__card_second {
  width: 431px;
  height: 390px;
  margin-top: -20px;
}
.header__card_second .header__card_bottom {
  width: 100%;
  justify-content: space-between;
}
.header__card_third {
  width: 300px;
  height: 234px;
  margin-top: 135px;
}
.header__card_third h3 {
  white-space: nowrap;
}
.header__card h3 {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  margin-right: 8px;
}
.header__card p {
  line-height: 1;
  font-weight: 500;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__card_bottom {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
.button__arrow {
  position: absolute;
  bottom: 10px;
  right: 20px;
  border: 1px solid #06beb6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
}
.button__arrow:hover,
.button__arrow:focus {
  outline: none;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  box-shadow: 0 3px 10px 4px rgba(6,190,182,0.4);
}
.button__arrow:hover svg,
.button__arrow:focus svg {
  stroke: #f2f2f2;
}
.header__text {
  margin-top: 55px;
  margin-left: 55px;
  margin-right: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__text h3 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 25px;
  display: inline-block;
  width: 360px;
}
.header__text h3 strong {
  font-weight: 700;
}
.button__main {
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  height: 60px;
  width: 360px;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  box-shadow: 0 15px 35px 4px rgba(6,190,182,0.4);
}
.button__main:hover,
.button__main:focus {
  font-weight: 600;
}
.advantages {
  padding-top: 70px;
  padding-bottom: 70px;
}
