@import 'reset.css';
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/montserrat-v15-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url("fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-regular.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-regular.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-regular.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("fonts/montserrat-v15-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url("fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-600.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-600.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-600.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("fonts/montserrat-v15-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url("fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-500.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-500.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-500.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("fonts/montserrat-v15-latin_cyrillic-800.eot"); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url("fonts/montserrat-v15-latin_cyrillic-800.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-800.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-800.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-800.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-800.svg#Montserrat") format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("fonts/montserrat-v15-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url("fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix") format('embedded-opentype'), url("fonts/montserrat-v15-latin_cyrillic-700.woff2") format('woff2'), url("fonts/montserrat-v15-latin_cyrillic-700.woff") format('woff'), url("fonts/montserrat-v15-latin_cyrillic-700.ttf") format('truetype'), url("fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat") format('svg'); /* Legacy iOS */
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
.embla {
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 125px;
}
.embla__container {
  display: flex;
  min-width: 100%;
}
.embla__slide {
  position: relative;
}
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #06beb6;
  background-color: #fff;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
}
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 3px;
  width: 12px;
  height: 8px;
  border-radius: 1px;
  border-left: 3px solid #06beb6;
  border-bottom: 3px solid #06beb6;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #dd5050;
}
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
input[type="checkbox"]:checked + label:after,
input[type="radio"]:checked + label:after {
  opacity: 1;
}
@-moz-keyframes roundArrow {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-webkit-keyframes roundArrow {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-o-keyframes roundArrow {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes roundArrow {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-2px);
  }
}
@-moz-keyframes roundArrowReverse {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(2px);
  }
}
@-webkit-keyframes roundArrowReverse {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(2px);
  }
}
@-o-keyframes roundArrowReverse {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(2px);
  }
}
@keyframes roundArrowReverse {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(2px);
  }
}
@media screen and (max-width: 1199.98px) {
  .container {
    max-width: 992px;
  }
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 576px;
  }
}
html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background-color: #fcfffd;
}
button:hover {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.header__nav {
  background: linear-gradient(to right, #257571 0%, #145e68 100%);
}
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 106px;
}
.header__link {
  color: #f2f2f2;
  font-size: 14px;
  text-decoration: none;
}
.header__link_white {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 26px;
  margin-right: 60px;
  position: relative;
}
.header__link_white::after {
  position: absolute;
  bottom: -30px;
  right: -35px;
  content: url("../img/icons/lifeline.svg");
}
.header__link_arrow {
  position: relative;
  padding-right: 20px;
}
.header__link_arrow::after {
  position: absolute;
  top: -2px;
  right: 0;
  content: url("../img/icons/arrow-down.svg");
}
.header__link_red {
  color: #dd5050;
  font-weight: 600;
}
.header__link_phone {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
  margin-right: 15px;
}
.header__link_blue {
  font-size: 1rem;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px;
  font-weight: 600;
  position: relative;
}
.header__link_blue::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  content: '';
}
.header__info {
  padding-top: 70px;
  padding-bottom: 70px;
}
.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.header__h1 {
  font-size: 44px;
  line-height: 140%;
  font-weight: 800;
}
.header__h1_blue {
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__card {
  position: relative;
  width: 490px;
  height: 200px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 20px 30px;
}
.header__card_second {
  width: 431px;
  height: 390px;
  margin-top: -20px;
}
.header__card_second .header__card_bottom {
  width: 100%;
  justify-content: space-between;
}
.header__card_third {
  width: 300px;
  height: 234px;
  margin-top: 135px;
}
.header__card_third h3 {
  white-space: nowrap;
}
.header__card h3 {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  margin-right: 8px;
}
.header__card p {
  line-height: 1;
  font-weight: 500;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header__card_bottom {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
}
.button__arrow {
  position: absolute;
  bottom: 10px;
  right: 20px;
  border: 1px solid #06beb6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  background: transparent;
}
.button__arrow:hover,
.button__arrow:focus {
  outline: none;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  box-shadow: 0 3px 10px 4px rgba(6,190,182,0.4);
  transition: background 0.3s ease;
}
.button__arrow:hover svg,
.button__arrow:focus svg {
  stroke: #f2f2f2;
  animation-name: roundArrow;
  animation-duration: 1s;
  animation-delay: 0.15s;
  animation-timing-function: ease-in-out;
}
.header__text {
  margin-top: 55px;
  margin-left: 55px;
  margin-right: 55px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__text h3 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 25px;
  display: inline-block;
  width: 360px;
}
.header__text h3 strong {
  font-weight: 700;
}
.main-button {
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f2f2f2;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  box-shadow: 0 15px 35px 4px rgba(6,190,182,0.4);
  white-space: nowrap;
}
.main-button:hover,
.main-button:focus {
  color: #fff;
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}
.section__heading {
  position: relative;
  font-weight: 800;
  font-size: 44px;
  line-height: 140%;
  display: inline;
}
.section__heading::after {
  position: absolute;
  bottom: -30px;
  right: -35px;
  content: url("../img/icons/lifeline.svg");
}
.advantages {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.left-side,
.right-side {
  width: 50%;
}
.left-top-side {
  height: 360px;
}
.advantages__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 48%;
}
.advantages__item:not(:nth-child(n+3)) {
  margin-bottom: 40px;
}
.advantages__heading {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 22px;
}
.advantages__text {
  font-weight: 400;
  font-size: 16px;
  display: inline-block;
  width: 95%;
}
.goods {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
}
.goods__info {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.goods__category-price {
  font-weight: 600;
  font-size: 32px;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 33px;
}
.goods__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.goods__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 360px;
  position: relative;
  padding: 0 30px 50px 30px;
  border: 1px solid #f2f2f2;
  background-color: #fcfffd;
}
.goods__item img {
  margin: auto;
}
.goods__item:not(.goods__item_large):nth-child(2),
.goods__item:not(.goods__item_large):nth-child(3) {
  background-color: #f2f2f2;
}
.goods__item_large {
  width: 100%;
  padding: 50px;
}
.goods__item_large .goods__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.goods__item .button__arrow {
  background-color: transparent;
  right: 30px;
  bottom: 30px;
}
.goods__image {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.goods__heading {
  font-weight: 500;
  font-size: 20px;
}
.goods__price {
  font-weight: 600;
  font-size: 21px;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 50px;
}
.goods__cold {
  padding-bottom: 0;
  margin-bottom: 70px;
}
.goods__wrapper_cold {
  position: relative;
}
.goods__wrapper_cold::before {
  position: absolute;
  content: '';
  top: 430px;
  left: 0;
  height: 360px;
  width: 100%;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
}
.services__container .left-top-side,
.services__container .services__info {
  height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.services {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.goods__wrapper_services {
  position: relative;
}
.goods__wrapper_services::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 530px;
  margin-top: 70px;
  width: 100%;
  background: linear-gradient(to right, transparent 0%, transparent 50%, #06beb6 50.1%, #48b1bf 100%);
}
.services__item {
  width: 300px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #f2f2f2;
  padding: 40px 30px 30px 40px;
  position: relative;
  background-color: #fcfffd;
}
.services__item img {
  position: absolute;
  top: 120px;
  right: 30px;
}
.services__item:nth-child(2n-1) {
  background-color: #f2f2f2;
}
.services__heading {
  font-weight: 600;
  font-size: 21px;
}
.services__subheading {
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
}
.services__price {
  font-weight: 600;
  font-size: 21px;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services__order {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  padding: 0 0 3px 0;
  margin-top: 10px;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #06beb6;
}
.services__text {
  font-weight: 500;
  font-size: 20px;
  color: #f2f2f2;
  position: relative;
  z-index: 1;
  padding: 40px;
}
.master {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
  height: 402px;
}
.master__text {
  width: 50%;
  height: 360px;
  background-color: #f9fbfa;
  padding: 70px 70px 50px 100px;
  position: relative;
}
.master__text::before {
  content: url("../img/icons/arrow-red.svg");
  position: absolute;
  left: -30px;
  bottom: 76px;
}
.master__heading {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 20px;
}
.master__subheading {
  font-weight: 800;
  font-size: 52px;
  margin-bottom: 10px;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 73px;
  text-transform: uppercase;
}
.master .main-button {
  margin-left: 73px;
}
.brands {
  padding-top: 70px;
}
.brands__item {
  min-width: 200px;
  min-height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
}
.brands__buttons {
  position: relative;
  top: -50px;
  right: 0;
  display: flex;
  width: 100%;
  height: 52px;
  justify-content: flex-end;
  align-items: center;
}
.embla__button {
  position: absolute;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  border: 1px solid transparent;
  outline: none;
  top: 0;
}
.embla__button:hover,
.embla__button:focus {
  border: 1px solid #06beb6;
  background: transparent;
}
.embla__button:hover svg path,
.embla__button:focus svg path {
  fill: #06beb6;
}
.embla__button--prev svg {
  transform: rotate(180deg);
}
.embla__button--prev {
  right: 72px;
}
.embla__button--next {
  right: 0;
}
.quiz__wrapper {
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  padding-top: 120px;
  padding-bottom: 120px;
}
.quiz .section__heading {
  color: #f2f2f2;
}
.quiz__subheading {
  color: #f2f2f2;
  margin-top: 16px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.quiz__page {
  background-color: #fff;
  padding: 65px 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 530px;
  position: relative;
}
.quiz__heading {
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 40px;
}
.quiz__options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.quiz__radio {
  width: 220px;
  display: flex;
  flex-direction: column-reverse;
}
.quiz__radio label {
  padding-right: 25px;
}
.quiz__image {
  width: 220px;
  height: 143px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f2f2f2;
  margin-bottom: 22px;
  overflow: hidden;
}
.quiz__image img {
  transform: scale(1);
  transition: all 0.3s ease;
}
.quiz__radio:nth-of-type(2n) .quiz__image {
  background-color: #f2f2f2;
}
input[type="radio"]:checked ~ .quiz__image {
  border: 1px solid #06beb6;
}
input[type="radio"]:checked ~ .quiz__image img {
  transform: scale(1.15);
  transition: all 0.4s ease;
}
.quiz__progress {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 140px;
  border: 1px solid #f2f2f2;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
}
.quiz__progress_25 {
  height: calc(530px - 75%);
}
.quiz__progress_50 {
  height: calc(530px - 50%);
}
.quiz__progress_75 {
  height: calc(530px - 25%);
}
.quiz__progress_100 {
  height: 100%;
}
.quiz__percents {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  padding-top: 12px;
  text-align: center;
  font-weight: 800;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
}
.quiz__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.quiz__button_prev {
  border: 1px solid #bdbdbd;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 20px;
}
.quiz__button_prev:hover,
.quiz__button_prev:focus {
  background-color: #bdbdbd;
}
.quiz__button_prev:hover svg,
.quiz__button_prev:focus svg {
  animation: roundArrowReverse;
  animation-duration: 0.8s;
  animation-delay: 0.15s;
  animation-timing-function: ease;
}
.quiz__button_prev:hover svg path,
.quiz__button_prev:focus svg path {
  fill: #fff;
}
.quiz__button_next {
  border: 1px solid #06beb6;
  background-color: transparent;
  height: 60px;
  width: 246px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
.quiz__button_next span {
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.quiz__button_next svg {
  margin-left: 10px;
}
.quiz__button_next:hover,
.quiz__button_next:focus {
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
}
.quiz__button_next:hover span,
.quiz__button_next:focus span {
  background: #f2f2f2;
  -webkit-background-clip: text;
}
.quiz__button_next:hover svg,
.quiz__button_next:focus svg {
  animation: roundArrow;
  animation-duration: 0.8s;
  animation-delay: 0.15s;
  animation-timing-function: ease;
}
.quiz__button_next:hover svg path,
.quiz__button_next:focus svg path {
  fill: #f2f2f2;
}
.quiz__options_top {
  margin-bottom: auto;
}
.quiz__options_top .quiz__label:first-child {
  margin-right: 75px;
}
.quiz__input_text {
  padding: 14px;
  border-bottom: 1px solid #06beb6;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 187px;
}
.quiz__input_text:focus {
  outline: none;
}
.quiz__input_text:focus + span {
  top: -5px;
  left: 0;
  transition: all 0.4s ease;
  font-size: 12px;
}
.quiz__label {
  position: relative;
}
.quiz__placeholder {
  position: absolute;
  top: 14px;
  left: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #828282;
  transition: all 0.4s ease;
}
.quiz__placeholder sup {
  position: absolute;
  top: -2px;
}
.quiz__placeholder_active {
  top: -5px;
  left: 0;
  font-size: 12px;
}
.quiz__conditioner_3 .quiz__options_top {
  margin-bottom: 0;
}
.quiz__conditioner_3 .quiz__input_text {
  width: 300px;
}
.quiz__conditioner_3 .quiz__options_bottom .quiz__input_text {
  width: 676px;
}
.quiz__conditioner_3 .main-button {
  width: 300px;
  margin-right: 38px;
}
.quiz__checkbox {
  color: #828282;
}
.quiz__checkbox a {
  color: #828282;
}
.quiz__cold_1 .quiz__input_text {
  width: 676px;
}
.quiz__cold_1 .quiz__options_top {
  margin-bottom: auto;
}
.delivery {
  margin-top: 140px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.delivery__list {
  width: 50%;
}
.delivery__city {
  margin-bottom: 40px;
}
.delivery__heading {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 21px;
  line-height: 150%;
}
.delivery__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 80%;
}
.sale {
  margin-top: -158px;
  margin-bottom: -140px;
  height: 305px;
  padding: 60px 130px 25px 130px;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.sale__period {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #bdbdbd;
  text-transform: uppercase;
}
.sale__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.sale__heading {
  font-weight: 800;
  font-size: 32px;
  line-height: 150%;
  color: #f2f2f2;
}
.sale__button {
  min-width: 278px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #06beb6;
  outline: none;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border-radius: 4px;
}
.sale__button:hover,
.sale__button:focus {
  border: 1px solid #fff;
  background: linear-gradient(to right, #06beb6 0%, #48b1bf 100%);
  color: #fff;
  transition: background 0.4s ease;
}
.sale__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #f2f2f2;
  margin-top: 20px;
}
.sale__image {
  position: absolute;
  top: -65px;
  right: -55px;
}
.about-us__wrapper {
  background-color: #f2f2f2;
  padding-top: 270px;
  padding-bottom: 70px;
}
.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.about-us__info {
  width: 50%;
}
.about-us__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.about-us__text:not(:last-child) {
  margin-bottom: 35px;
}
.about-us__text strong {
  font-weight: 600;
}
