@import 'reset.css';
@import '__fonts.styl';
@import '__variables.styl';
@import '__helpers.styl';
@import '__animations.styl';
@import '__adaptive.styl';

html {
	scroll-behavior: smooth;
}


html, body {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $black-color;
	background-color: #FCFFFD;
}

//*, ::after, ::before {
//	transition: 0.3s ease;
//}

//body {
//	overflow-x: hidden;
//}

button:hover {
	cursor: pointer;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	//padding-left: 15px;
	//padding-right: 15px;
}

.header__nav {
	background: $dark-gradient;
}

.header__ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 106px;
}

.header__link {
	color: $gray-color;
	font-size: 14px;
	text-decoration: none;

	&_white {
		color: #FFFFFF;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 26px;
		margin-right: 60px;
		position: relative;

		&::after {
			position: absolute;
			bottom: -30px;
			right: -35px;
			content: url('../img/icons/lifeline.svg');
		}
	}

	&_arrow {
		position: relative;
		padding-right: 20px;
		&::after {
			position: absolute;
			top: -2px;
			right: 0;
			content: url('../img/icons/arrow-down.svg');
		}
	}
	&_red {
		color: $red-color;
		font-weight: 600;
	}
	&_phone {
		font-size: 20px;
		font-weight: 600;
		margin-left: 20px;
		margin-right: 15px;
	}
	&_blue {
		font-size: 1rem;
		{$text-gradient};
		padding-bottom: 5px;
		font-weight: 600;
		position: relative;
		&::after {
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 1px;
			background: $blue-gradient;
			content: '';
		}
	}
}

.header__info {
	padding-top: 70px;
	padding-bottom: 70px;
}

.header__row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	position: relative;
}

.header__h1 {
	font-size: 44px;
	line-height: 140%;
	font-weight: 800;
	&_blue {
		{$text-gradient};
	}
}

//todo line-height поправить из процентов в нормальные величины


.header__card {
	position: relative;
	width: 490px;
	height: 200px;
	background-color: $gray-color;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px 20px 30px;


	&_second {
		width: 431px;
		height: 390px;
		margin-top: -20px;
		//padding-bottom: 38px;

		& .header__card_bottom {
			width: 100%;
			justify-content: space-between;

		}
	}

	&_third {
		width: 300px;
		height: 234px;
		margin-top: 135px;
		& h3 {
			white-space: nowrap;
		}

	}

	& h3 {
		line-height: 1;
		font-size: 16px;
		font-weight: 400;
		margin-right: 8px;
	}

	& p {
		line-height: 1;
		font-weight: 500;
		{$text-gradient};
	}
}

.header__card_bottom {
	display: flex;
	flex-direction: row;
	align-self: flex-start;
}

.button__arrow {
	position: absolute;
	bottom: 10px;
	right: 20px;
	border: 1px solid $blue-color;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 48px;
	background: transparent;

	&:hover, &:focus {
		outline: none;
		background: $blue-gradient;
		box-shadow: 0 3px 10px 4px $blue-color-rgba;
		transition: background 0.3s ease;
		& svg {
			stroke: $gray-color;
			//transition: transform 0.4s ease;
			animation-name: roundArrow;
			animation-duration: 1s;
			animation-delay: 0.15s;
			animation-timing-function: ease-in-out;
		}
	}
}



//todo подумать, как реализовать border-gradient, если нужно закругление



.header__text {
	margin-top: 55px;
	margin-left: 55px;
	margin-right: 55px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	//position: absolute;
	//top: 0;
	//left: 486px;

	& h3 {
		font-size: 20px;
		line-height: 150%;
		font-weight: 400;
		margin-bottom: 25px;
		display: inline-block;
		width: 360px;

		& strong {
			font-weight: 700;
		}
	}

}

.main-button {
	background: $blue-gradient;
	height: 60px;
	padding-left: 25px;
	padding-right: 25px;
	//width: 360px;
	margin-right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $gray-color;
	border-radius: 4px;
	font-weight: 500;
	border: none;
	outline: none;
	box-shadow: 0 15px 35px 4px $blue-color-rgba;
	white-space: nowrap;

	&:hover, &:focus {
		color: #FFFFFF;
		//font-weight: 600;
		transform: translateY(-3px);
		transition: all 0.3s ease-in-out;

	}
}

.section__heading {
	position: relative;
	font-weight: 800;
	font-size: 44px;
	line-height: 140%;
	display: inline;
	&::after {
		position: absolute;
		//content: '';
		bottom: -30px;
		right: -35px;
		content: url('../img/icons/lifeline.svg');
	}
}

.advantages {
	padding-top: 70px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.left-side, .right-side {
	width: 50%
}

.left-top-side {
	height: 360px;
}

.advantages__list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.advantages__item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 48%;
	&:not(:nth-child(n+3)) {
		margin-bottom: 40px;
	}
}

.advantages__heading {
	font-weight: 600;
	font-size: 21px;
	margin-bottom: 22px;
	//white-space: nowrap;
}

.advantages__text {
	font-weight: 400;
	font-size: 16px;
	display: inline-block;
	width: 95%;
}

.goods {
	padding-top: 70px;
	padding-bottom: 70px;
	display: flex;
	flex-direction: row;
	//overflow: hidden;
}

.goods__info {
	margin-top: 45px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.goods__category-price {
	font-weight: 600;
	font-size: 32px;
	{$text-gradient};
	margin-right: 33px;
}

.goods__list {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}

.goods__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 360px;
	position: relative;
	padding: 0 30px 50px 30px;
	border: 1px solid $gray-color;
	background-color: #FCFFFD;
	//z-index: 2;

	& img {
		margin: auto;
	}

	&:not(.goods__item_large) {
		&:nth-child(2), &:nth-child(3) {
			background-color: $gray-color;
		}
	}
	&_large {
		width: 100%;
		padding: 50px;

		& .goods__text {
			  display: flex;
			  flex-direction: row;
			  justify-content: space-between;
			  align-items: flex-end;
			  width: 100%;
		  }
	}

	& .button__arrow {
		background-color: transparent;
		right: 30px;
		bottom: 30px;
	}
}

.goods__image {
	height: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.goods__text {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	//max-height: 30%;
}

.goods__heading {
	font-weight: 500;
	font-size: 20px;
	//white-space: nowrap;
}

.goods__price {
	font-weight: 600;
	font-size: 21px;
	{$text-gradient};
	margin-right: 50px;
}

.goods__cold {
	padding-bottom: 0;
	margin-bottom: 70px;
}

.goods__wrapper_cold {
	position: relative;
	&::before {
		position: absolute;
		content: '';
		top: 430px;
		left: 0;
		height: 360px;
		width: 100%;
		background: linear-gradient(to right, #06BEB6 0%, #48B1BF 100%);
	}
}

.services__container {
	& .left-top-side, & .services__info {
		height: 170px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
	}


}

.services {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}


.goods__wrapper_services {
	position: relative;
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 530px;
		margin-top: 70px;
		width: 100%;
		background: linear-gradient(to right, transparent 0%, transparent 50%, #06BEB6 50.1%, #48B1BF 100%);

	}
}

.services__item {
	width: 300px;
	height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px solid $gray-color;
	padding: 40px 30px 30px 40px;
	position: relative;
	background-color: #FCFFFD;
	//margin-top: 40px;
	& img {
		position: absolute;
		top: 120px;
		right: 30px;
	}

	&:nth-child(2n-1) {
		background-color: $gray-color;
	}
}

.services__heading {
	font-weight: 600;
	font-size: 21px;
}

.services__subheading {
	font-weight: 400;
	font-size: 16px;
	margin-top: 15px;
}

.services__price {
	font-weight: 600;
	font-size: 21px;
	{$text-gradient};
}

.services__order {
	background-color: transparent;
	border: none;
	outline: none;
	font-weight: 500;
	font-size: 16px;
	padding: 0 0 3px 0;
	margin-top: 10px;
	{$text-gradient};
	border-bottom: 1px solid $blue-color;
}

.services__text {
	font-weight: 500;
	font-size: 20px;
	color: $gray-color;
	position: relative;
	z-index: 1;
	padding: 40px;
}



.master {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 100px;
	margin-bottom: 100px;
	height: 402px;
}

.master__text {
	width: 50%;
	height: 360px;
	background-color: #F9FBFA;
	padding: 70px 70px 50px 100px;
	position: relative;
	&::before {
		content: url('../img/icons/arrow-red.svg');
		position: absolute;
		left: -30px;
		bottom: 76px;
	}
}

.master__heading {
	font-weight: 600;
	font-size: 21px;
	margin-bottom: 20px;
}

.master__subheading {
	font-weight: 800;
	font-size: 52px;
	margin-bottom: 10px;
	{$text-gradient};
	padding-left: 73px;
	text-transform: uppercase;
}

.master {
	& .main-button {
		margin-left: 73px;
	}
}

.brands {
	padding-top: 70px;
}



.brands__item {
	min-width: 200px;
	min-height: 125px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $gray-color;
}

.brands__buttons {
	position: relative;
	top: -50px;
	right: 0;
	display: flex;
	width: 100%;
	height: 52px;
	justify-content: flex-end;
	align-items: center;
}

.embla__button {
	//z-index: 1000;
	position: absolute;
	//top: -80px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: $blue-gradient;
	border: 1px solid transparent;
	outline: none;
	top: 0;

	&:hover, &:focus {
		border: 1px solid $blue-color;
		background: transparent;
		//transition: all 0.3s ease;

		& svg path {
			fill: $blue-color;
		}

	}
}

.embla__button--prev svg {
	transform: rotate(180deg);
}

.embla__button--prev {
	right: 72px;
	//top: 0;
}

.embla__button--next {
	right: 0;
	//top: 0;

}




.quiz__wrapper {
	background: $blue-gradient;
	padding-top: 120px;
	padding-bottom: 120px;
}

.quiz {
	& .section__heading {
		color: $gray-color;
	}
}

.quiz__subheading {
	color: $gray-color;
	margin-top: 16px;
	margin-bottom: 50px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
}

.quiz__page {
	background-color: #FFFFFF;
	padding: 65px 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 530px;
	position: relative;
}

.quiz__heading {
	font-weight: 600;
	font-size: 21px;
	line-height: 150%;
	{$text-gradient};
	margin-bottom: 40px;
}

.quiz__options {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
}

.quiz__radio {
	width: 220px;
	display: flex;
	flex-direction: column-reverse;


	& label {
		padding-right: 25px;
	}
}

.quiz__image {
	width: 220px;
	height: 143px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $gray-color;
	margin-bottom: 22px;
	overflow: hidden;

	& img {
		//filter: brightness(100%);
		transform: scale(1);
		transition: all 0.3s ease;


	}


}

.quiz__radio:nth-of-type(2n) {
	& .quiz__image {
		background-color: $gray-color;
	}
}

input[type="radio"]:checked ~ .quiz__image {


	border: 1px solid $blue-color;
	& img {
		transform: scale(1.15);

		//filter: sepia(140%);
		transition: all 0.4s ease;
	}
}

.quiz__progress {
	position: absolute;
	bottom: 0;
	right: 15px;
	width: 140px;
	border: 1px solid $gray-color;
	background: $blue-gradient;

	&_25 {
		height: calc(530px - 75%);
	}
	&_50 {
		height: calc(530px - 50%);
	}
	&_75 {
		height: calc(530px - 25%);
	}
	&_100 {
		height: 100%;
	}

}

.quiz__percents {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	padding-top: 12px;
	text-align: center;
	font-weight: 800;
	font-size: 24px;
	line-height: 140%;
	color: #FFFFFF;
}


.quiz__buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.quiz__button_prev {

	border: 1px solid $darkgray-color;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border-radius: 4px;
	background-color: transparent;
	margin-right: 20px;
	&:hover, &:focus {
		background-color: $darkgray-color;

		& svg {
			animation: roundArrowReverse;
			animation-duration: 0.8s;
			animation-delay: 0.15s;
			animation-timing-function: ease;
		}

		& svg path {
			fill: #FFFFFF;
		}
	}
}

.quiz__button_next {
	border: 1px solid $blue-color;
	background-color: transparent;
	height: 60px;
	width: 246px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	outline: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;

	& span {
		{$text-gradient};
	}
	& svg {
		margin-left: 10px;
	}

	&:hover, &:focus {
		background: $blue-gradient;

		& span {
			background: $gray-color;
			-webkit-background-clip: text;
			//transition: all 0.4s ease;
		}


		& svg {

			animation: roundArrow;
			animation-duration: 0.8s;
			animation-delay: 0.15s;
			animation-timing-function: ease;
			& path {
				fill: $gray-color;
			}

		}

	}
}


.quiz__options_top {
	margin-bottom: auto;

	& .quiz__label:first-child {
		margin-right: 75px;
	}
}

.quiz__input_text {
	padding: 14px;
	border-bottom: 1px solid $blue-color;
	border-top: none;
	border-right: none;
	border-left: none;
	width: 187px;

	&:focus {
		outline: none;

		& + span {
			top: -5px;
			left: 0;
			transition: all 0.4s ease;
			font-size: 12px;
		}
	}

}

.quiz__label {
	position: relative;

}

.quiz__placeholder {
	position: absolute;
	top: 14px;
	left: 14px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	color: $darkergray-color;
	transition: all 0.4s ease;

	& sup {
		position: absolute;
		top: -2px;
	}

	&_active {
		top: -5px;
		left: 0;
		font-size: 12px;
	}
}

.quiz__conditioner_3 {
	& .quiz__options_top {
		margin-bottom: 0;
	}

	& .quiz__input_text {
		width: 300px;
	}

	& .quiz__options_bottom .quiz__input_text {
		width: 676px;
	}

	& .main-button {
		width: 300px;
		margin-right: 38px;
	}

}

.quiz__checkbox {
	color: $darkergray-color;
	& a {
		color: $darkergray-color;
	}
}