*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ol, ul {
    padding: 0
}

blockquote, body, dd, dl, figcaption, figure, h1, h2, h3, h4, li, ol, p, ul {
    margin: 0
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5
}

ol, ul {
    list-style: none
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

img {
    max-width: 100%;
    display: block
}

article > * + * {
    margin-top: 1em
}

button, input, select, textarea {
    font: inherit
}

@media (prefers-reduced-motion: reduce) {
    * {
        -webkit-animation-duration: 0s !important;
        animation-duration: 0s !important;
        -webkit-animation-iteration-count: 1 !important;
        animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0s !important;
        transition-duration: 0s !important;
        scroll-behavior: auto !important
    }
}